@import '../../eg-colors';

// Theme Specific Variables
$primaryColor: $eg-c-primary;
$primaryDarkColor: $eg-c-primary-dark;
$primaryDarkerColor: $eg-c-primary-dark;
$primaryLightColor: $eg-c-primary-light;
$primaryLighterColor: $eg-c-primary-lighter;
$primaryTextColor: $eg-c-on-primary;

$secondaryColor: $eg-c-secondary;
$secondaryDarkColor: $eg-c-secondary-dark;
$secondaryDarkerColor: $eg-c-secondary-darker;
$secondaryTextColor: $eg-c-on-secondary;

$contrastColor: $eg-c-bright;
$contrastDarkColor: $eg-c-primary-lightest;
$contrastDarkerColor: $eg-c-primary-lighter;
$secondaryLightColor: $eg-c-secondary-light;
$secondaryLighterColor: $eg-c-secondary-lighter;
$contrastTextColor: $eg-c-primary;

$inputBorderColor: $eg-c-gray-200;

$colors: (
    'blue': #2196f3,
    'green': #4caf50,
    'yellow': #fbc02d,
    'cyan': #00bcd4,
    'pink': #e91e63,
    'indigo': #3f51b5,
    'teal': #009688,
    'orange': #f57c00,
    'bluegray': #607d8b,
    'purple': #9c27b0,
    'red': #ff4032,
    'primary': $primaryColor,
    'secondary': $secondaryColor,
);

// Mandatory Designer Variables
@import './variables/general';
@import './variables/form';
@import './variables/button';
@import './variables/panel';
@import './variables/_data';
@import './variables/_overlay';
@import './variables/_message';
@import './variables/_menu';
@import './variables/_media';
@import './variables/_misc';

:root {
    --font-family: 'Lato', 'SF Pro', 'SF Pro Display', 'Helvetica Neue',
        'Helvetica', 'PingFang TC', 'Noto Sans TC', 'Arial', 'Microsoft YaHei',
        sans-serif;
    --text-color: #{$eg-c-text};
    --text-color-light: #{$eg-c-text-light};
    --text-color-lighter: #{$eg-c-text-lighter};
    --text-color-lightest: #{$eg-c-text-lightest};
    --primary-color: #{$primaryColor};
    --primary-color-text: #ffffff;
    --surface-0: #ffffff;
    --surface-50: #fafafa;
    --surface-100: #{$eg-c-gray-100};
    --surface-200: #{$eg-c-gray-200};
    --surface-300: #{$eg-c-gray-300};
    --surface-400: #{$eg-c-gray-400};
    --surface-500: #{$eg-c-gray-500};
    --surface-600: #{$eg-c-gray-600};
    --surface-700: #{$eg-c-gray-700};
    --surface-800: #{$eg-c-gray-800};
    --surface-900: #212121;
    --gray-50: #fafafa;
    --gray-100: #{$eg-c-gray-100};
    --gray-200: #{$eg-c-gray-200};
    --gray-300: #{$eg-c-gray-300};
    --gray-400: #{$eg-c-gray-400};
    --gray-500: #{$eg-c-gray-500};
    --gray-600: #{$eg-c-gray-600};
    --gray-700: #{$eg-c-gray-700};
    --gray-800: #{$eg-c-gray-800};
    --gray-900: #212121;
    --content-padding: #{$panelContentPadding};
    --inline-spacing: #{$inlineSpacing};
    --border-radius: #{$borderRadius};
    --surface-ground: #f8f9fa;
    --surface-section: #ffffff;
    --surface-card: #ffffff;
    --surface-overlay: #ffffff;
    --surface-border: #dee2e6;
    --surface-hover: #e9ecef;
    --focus-ring: #{$focusShadow};
    --maskbg: #{$maskBg};
    --highlight-bg: #{$highlightBg};
    --highlight-text-color: #{$highlightTextColor};
    color-scheme: light;
}
